//COLORS

$color-primary-light: rgb(255, 51, 102);
$color-primary-dark:  rgb(186, 38, 92);

$color-grey-dark: #777;
$color-white:  #fff;
$color-grey-light-1: #f7f7f7;

$color-black: rgb(0,0,0);


//FONT SIZE

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;